<div class="container-fluid">
    <div class="row">
      <h1>Hello {{username}}</h1>
      <h1>Let's Quiz</h1>
    </div>
    <div class="groupID">
      <input type="text">
    </div>
    <div class="buttons d-flex justify-content-between">

      <div class="d-flex flex-column">
        <button class="btn btn-warning" (click)="onCreateGroup()" [disabled]="isGenerated">Create Group</button>
        <input type="text" class="groupID" readonly value="{{groupID}}" (click)="onCopyToClipboard()">
        <p style="color: white;" *ngIf="isCopied">The groupId is copied!</p>
      </div>
      <button class="btn btn-warning" (click)="onSingleGame()">Single Game</button>
      <div class="d-flex flex-column">
        <button class="btn btn-warning" (click)="onJoinGroup()" [disabled]="joinInput ===''">Join</button>
        <input type="text" class="groupID-input" [(ngModel)]="joinInput">
        <p style="color: red;" *ngIf="isError">{{errorMessage}}</p>
      </div>
    </div>
</div>

