<div class="container-fluid">
    <div class="row">
      <h1>Hello Username</h1>
      <h1>Let's Quiz</h1>
    </div>
    <div class="groupID">
      <input type="text">
    </div>
    <div class="buttons d-flex justify-content-between">

        <button class="btn btn-warning">Create Group</button>
      <button class="btn btn-warning">Single Game</button>
      <div class="d-flex flex-column">
        <button class="btn btn-warning">Join</button>
        <input type="text">
      </div>
    </div>
</div>

